# --- Operating System Files (Junk) ---
.DS_Store
Thumbs.db
*.swp

# --- Editor Settings (Personal preferences) ---
# It's good practice not to force your editor settings on others
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Javascript/Node (For when you get there) ---
node_modules/
npm-debug.log
yarn-debug.log

# --- Docker & Environment Variables ---
# Never commit secrets or huge logs!
.env
docker-compose.override.yml
*.log